

.topBarContainer {
  display: flex;
  padding: 0 36px;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  &.light {
    background-color: $topBar-light-background-color;
    color: $topBar-light-text-color;
  }
  
  &.dark {
    background-color: $topBar-dark-background-color;
    color: $topBar-dark-text-color;
  }
}

.topBarHeading {
  font-size: 1.5rem;
  font-weight: bold;
}
